@charset "utf-8";

@media all {
    html {
	font: 1em/1.25 sans-serif;
    }
}

@media all and (max-width:32em) {
    html {
	font-size: .9em;
    }
}

@media all and (max-width:30em) {
    html {
	font-size: .8em;
    }
}

@media all and (max-width:27em) {
    html {
	font-size: .75em;
    }
}

@media all and (max-width:25em) {
    html {
	font-size: .65em;
    }
}

body {
    background-color: #888888;
    /* text-align: center; */
    /* font-size: 100%; */
    /* position: relative; */
    user-select: none;
}

H1 {
    text-align: center;
    color: #304c88;
    margin-top: 20px;
    margin-bottom: 20px;
    font-size: large;
}


H2 {
    color: #485155;
    margin-left: .25em;
    font-size: medium;
}

Button {
    background-color: #304c88; 
    color: #f9f9f9;
    text-align: center;
    margin: 5px 5px 5px 5px;
    padding: 10px;
    border-radius: 15px;
}

Button:hover {
    background: #485155;
}

/*
 *
 * Classes
 *
 */

/* Unified design of buttons*/

.checkBtn {
    background-color: #eeee00;
    color: black;
    /* width: 380px; */
    /* height: 120px;  */
}

.greetBtn {
/*     width: 300px; */
/*     height: 120px;  */
}

.taskBtn {
    /* width: 350px; */
    /* height: 130px; */
    
}

.talkBtn {
    
}


.volumeBtn {
    /* width: 150px; */
    /* height: 150px; */
    /* margin: 5px 5px 5px 5px; */
    padding: 20px 20px;
    border-radius: 100px;
    /* font-size: 200%; */
}

.postureBtn {
    /* width: 300px; */
    /* height: 120px; */
    /* margin: 15px 10px 15px 10px; */
}

.systemBtn {
}

.shutdownBtn {
    background-color: #880000;
}


/* This class prevents the buttons from moving. */
.div-flex {
    display: flex;
    flex-wrap: wrap;
    margin-left: 2em;
    margin-right: 2em;
}

.container {
    outline: solid black;
    outline-width: 0.01cm;
    max-width: 36em;
    min-width: 20em;
    margin: 0px auto; /* Right and Left margin widths to auto */
    border-radius: 25px;
    background-color:#efefef;
    text-align: left;
    padding-top: .15em;
    padding-bottom: 2em;
}

.box {
    border-radius:20px;
    width: 70%;
    height: 7vh;
}


/** 
 *
 * Objects
 *
 */

/* Move buttons */
#moveBtnTop {
    margin-bottom: 9.5px;
}

#moveBtnMid {
    text-align: center;
    margin-left: 0px;
    margin-right: 0px;
}

#moveBtnBot {
    margin-top: 9.5px;
    margin-bottom: 40px;
}

#rosa_logo {
    height: 150px;
    width: auto;
    margin: 50px 10px 50px 10px;
}

/* Toggle Switch */

.switch {
  position: relative;
  display: inline-block;
  margin-top: 10px;
  width: 60px;
  height: 34px;
}

.switch input { 
  opacity: 0;
  width: 0;
  height: 0;
}

.slider {
  position: absolute;
  cursor: pointer;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
  background-color: #ccc;
  transition: .4s;
}

.slider:before {
  position: absolute;
  content: "";
  height: 26px;
  width: 26px;
  left: 4px;
  bottom: 4px;
  background-color: white;
  transition: .4s;
}

/* Rounded sliders */
.slider.round {
  border-radius: 34px;
}

.slider.round:before {
  border-radius: 50%;
}

input:checked + .slider {
  background-color: #2196F3;
}

input:focus + .slider {
  box-shadow: 0 0 1px #2196F3;
}

input:checked + .slider:before {
  transform: translateX(26px);
}

/* Volume text */
#volume {
    font-size: 100%;
    text-align: center;
    color: #485155;
    margin-top: 10px;
    margin-bottom: 5px;
}

/* Batterycharge text */
#batterycharge {
    font-size: 100%;
    text-align: center;
    color: #485155;
    margin-top: 10px;
    margin-bottom: 5px;
}


/* Uncomment this rule to effectively break the stylesheet, thus simulating no-CSS styles. */
/* .selector { [property: value; } */

.Toggle {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  position: relative;
  margin-bottom: 1em;
  cursor: pointer;
  gap: 1ch;
}

button.Toggle {
  border: 0;
  padding: 0;
  background-color: transparent;
  color: black;
  font: inherit;
}

.Toggle__input {
  position: absolute;
  opacity: 0;
  width: 100%;
  height: 100%;
}

.Toggle__display {
  --offset: 0.25em;
  --diameter: 1.8em;

  display: inline-flex;
  align-items: center;
  justify-content: space-around;
  box-sizing: content-box;
  width: calc(var(--diameter) * 2 + var(--offset) * 2);
  height: calc(var(--diameter) + var(--offset) * 2);
  border: 0.1em solid rgb(0 0 0 / 0.2);
  position: relative;
  border-radius: 100vw;
  background-color: #fbe4e2;
  transition: 250ms;
}

.Toggle__display::before {
  content: "";
  z-index: 2;
  position: absolute;
  top: 50%;
  left: var(--offset);
  box-sizing: border-box;
  width: var(--diameter);
  height: var(--diameter);
  border: 0.1em solid rgb(0 0 0 / 0.2);
  border-radius: 50%;
  background-color: white;
  transform: translate(0, -50%);
  will-change: transform;
  transition: inherit;
}


.Toggle:focus .Toggle__display,
.Toggle__input:focus + .Toggle__display {
  outline: 1px dotted #212121;
  outline: 1px auto -webkit-focus-ring-color;
  outline-offset: 2px;
}

.Toggle:focus,
.Toggle:focus:not(:focus-visible) .Toggle__display,
.Toggle__input:focus:not(:focus-visible) + .Toggle__display {
  outline: 0;
}

.Toggle[aria-pressed="true"] .Toggle__display,
.Toggle__input:checked + .Toggle__display {
  background-color: #e3f5eb;
}

.Toggle[aria-pressed="true"] .Toggle__display::before,
.Toggle__input:checked + .Toggle__display::before {
  transform: translate(100%, -50%);
}

.Toggle[disabled] .Toggle__display,
.Toggle__input:disabled + .Toggle__display {
  opacity: 0.6;
  filter: grayscale(40%);
  cursor: not-allowed;
}

[dir="rtl"] .Toggle__display::before {
  left: auto;
  right: var(--offset);
}

[dir="rtl"] .Toggle[aria-pressed="true"] + .Toggle__display::before,
[dir="rtl"] .Toggle__input:checked + .Toggle__display::before {
  transform: translate(-100%, -50%);
}

.Toggle__icon {
  display: inline-block;
  width: 1em;
  height: 1em;
  color: inherit;
  fill: currentcolor;
  vertical-align: middle;
  overflow: hidden;
}

.Toggle__icon--cross {
  color: #e74c3c;
  font-size: 85%;
}

.Toggle__icon--checkmark {
  color: #1fb978;
}
